<div class="container" id="app">
  <br/>
    <a href="http://codingthesmartway.com/" target="_blank"><img src="assets/images/logo.png" width="300" /></a>
  <hr>
  <div>
      <div class="card">
          <div class="card-body">
            <h3 class="card-title">Todos App</h3>
            <h2 class="card-subtitle mb-2 text-muted">app-todo-overview</h2>
            <app-todo-overview></app-todo-overview>
            <h2 class="card-subtitle mb-2 text-muted">app-todo-list</h2>
            <app-todo-list></app-todo-list>
          </div>
        </div>
  </div>
</div>